
<div class="card" >
  <p-toolbar  >
    <div class="p-toolbar-group-start">
      <img  src="/public/Captura de tela 2024-11-26 165112.png" alt="image">
  </div>
  <div class="p-toolbar-group-center">
        <input pInputText placeholder="Pesquisar" class="py-2 px-3 " />
  </div>
  <div class="p-toolbar-group-end">
    <p-button label="Entrar" class=" bg-blue-500 rounded-md py-2 px-3 text-white "></p-button>
    <p-button label="Sair" class=" bg-red-600 rounded-md py-2 px-3 text-white "></p-button>
  </div>
  </p-toolbar>
  </div>
