
<div class="card" >
  <p-toolbar  >
    <div class="p-toolbar-group-start" >
      <a href="/home" routerLinkActive="active">
        <img  src="Captura de tela 2024-11-26 165112.png"
      alt="image"
      class="h-7 sm:h-11">
      </a>
  </div>
  <div class="p-toolbar-group-center">
    <input pInputText placeholder="Pesquisar" class="p-0 sm:py-2  sm:px-3"  />
  </div>
  <div class="p-toolbar-group-end flex gap-5 " >

    <button
    class=" bg-blue-600 rounded-full py-1 px-2 sm:py-2 sm:px-3 text-white hover:bg-blue-700 transition-transform duration-700 ease-in-out text-xs sm:text-base ">Entrar</button>

    <div >
      <img  class=" rounded-full h-6 sm:h-8" />
    </div>

    <button
    class=" bg-red-600 rounded-full py-1 px-2 sm:py-2 sm:px-3 text-white hover:bg-red-700 transition-transform duration-700 ease-in-out text-xs sm:text-base ">Sair</button>


  </div>
  </p-toolbar>
  </div>
