<div  class="flex justify-center items-center">
  <iframe
    class="w-[90%] pt-5 md:h-screen"

    frameborder="0"
    allowfullscreen>
  </iframe>
</div>
<div class="size text-white pb-10">
  <br>
  <div>
    <h1 class="  text-xl sm:text-2xl md:text-3xl xl:text-4xl roboto-bold">titulo</h1>
  </div>
  <br>
  <div class="inria-sans-regular flex gap-3 max-h-10 ">
    <button class=" bg-purple-800 rounded-md p-2 focus:bg-purple-600 " >Favoritar</button>
    <button class=" bg-purple-800 rounded-md p-2 focus:bg-purple-600 " >Assistir depois</button>
  </div>

  <br>
  <div class=" bg-purple-950 rounded w-full py-3 inria-sans-regular">
    <p class=" pl-5 text-base sm:text-sm md:text-md xl:text-lg ">descrição</p>
    <br>
    <p class="pl-5 text-base sm:text-sm md:text-md xl:text-lg">Visualizações:  </p>
    <p class="pl-5 text-base sm:text-sm md:text-md xl:text-lg">Data de Upload: </p>
  </div>

</div>
