

<div class="flex gap-5 py-7 justify-center items-center text-white inria-sans-regular">
  <button class=" bg-purple-800 rounded-md p-2 focus:bg-purple-600" >
    Favoritos
  </button>
  <button class=" bg-purple-800 rounded-md p-2  focus:bg-purple-600" >
    Assistir Mais Tarde
  </button>
</div>

<div class="size text-white pt-7 flex justify-center items-center">



  <div >
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <li >
        <a >
          <div>
            <div class="w-80 h-44 overflow-hidden rounded-lg flex justify-center items-center">
              <img  alt="thumbnail" class="w-full h-auto">
            </div>
            <h3 class="font-bold max-w-80 roboto-bold">titulo</h3>
            <p class="text-xs max-w-80 inria-sans-regular">descriçaõ</p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <ng-template #loading>
    <p>Carregando vídeos...</p>
  </ng-template>

</div>

