/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  .p-toolbar {
    background-color: #000;
    border-radius: 0%;
  }
  input{
    border-radius: 70px;

  }
  .p-inputtext:focus {
    border-color: #8b5cf6; /* Borda roxa */
    box-shadow: 0 0 0 0.2rem rgb(124, 85, 215); /* Sombra roxa */
  }
  .p-button{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.size{
  padding-left: 10%;
  padding-right: 10%;
}
