/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Order */
@layer reset, primeng;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@300;400;500&display=swap');
/* Reset CSS */
@layer reset {
  .p-toolbar {
    background-color: #000;
    border-radius: 0%;
  }
  input{
    border-radius: 70px;

  }
  .p-inputtext:focus {
    border-color: #8b5cf6; /* Borda roxa */
    box-shadow: 0 0 0 0.2rem rgb(124, 85, 215); /* Sombra roxa */
  }
  .p-button{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.size{
  padding-left: 5%;
  padding-right: 5%;
}

body{
  background-color: #1E1E1E;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
